<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>

<body>
    <h1>We'll be right back</h1>
    <p>
        Site is under construction!
    </p>
</body>

</html>